$primary: #17c5c7;
$secondary: #203258;
$contrast: #bfad6e;
$info: #1c9ad7;
$success: #51c35e;

$dark: #131b2b;
$white: #fff;

$grey1: #d1d1d1;
$grey2: #767676;
$grey3: #2e2e2e;

$iconBorder: #707070;
$iconShadow: rgba(255, 255, 255, 0.36);

$spacingS: 0.25rem;
$spacingSM: 0.375rem;
$spacingM: 0.5rem;
$spacingM2: 0.625rem;
$spacingML: 0.75rem;
$spacingMML: 0.875rem;
$spacingL: 1rem;
$spacingXL: 1.25rem;
$spacingXxl: 1.5rem;
$spacingXxll: 1.75rem;
$spacingXxxl: 2rem;

$fzS: 0.75rem;
$fzSM: 0.875rem;
$fzM: 1rem;
$fzML: 1.125rem;
$fzL: 1.2rem;
$fzLL: 1.375rem;
$fzXL: 1.5rem;
$fzXXL: 1.75rem;
$fzXXXL: 2rem;

$containerMaxW: 1200px;
$containerSmMaxW: 1050px;
